OPEN_FOOD_FACTS_BASE_URL=https://world.openfoodfacts.org
OPEN_FOOD_FACTS_CATEGORY=chocolates
OPEN_FOOD_FACTS_PAGE_SIZE=50
OPEN_FOOD_FACTS_MAX_PAGES=2

FOODLENS_USER_AGENT=FoodLensDataPlatform/1.0 (ngocni.080805@gmail.com)

BRONZE_ROOT=data/bronze
SILVER_ROOT=data/silver
GOLD_ROOT=data/gold
QUARANTINE_ROOT=data/quarantine
REPORT_ROOT=reports